[user]
  name = violetyk
  #email = yuhei.kagaya@gmail.com
  email = yuhei.kagaya@nanapi.co.jp

[color]
  ui = auto
[http]
  sslVerify = false
[alias]
  st = status
  ss = "status -s"
  br = "branch -a"
  co = "checkout"
  cot = "checkout --track"
  unstage = "reset HEAD --"
  u = "add --update ."
  a = "add --all ."
  c = "commit -v"
  timesheet = "!$SHELL -c 'git log --author=`git config --get user.name` --oneline --no-merges --since=`date -d \"$(date +%Y-%m-15) -1 month\" +%Y-%m-01` --until=`date -d \"$(date +%d) day ago\" +%Y-%m-%d`'"


[core]
  ; #editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore

[diff]
  tool = vimdiff

[merge]
  tool = vimdiff

[include]
  path = .gitconfig.sh

[push]
  # default = matching
  default = simple
