[user]
	name = Yuhei Kagaya
	email = yuhei.kagaya@gmail.com
[color]
	ui = auto
[http]
	sslVerify = false
[alias]
	st = status
	br = "branch -a"
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore
